/*========= GOOGLE FONTS ==========*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap');

/*========= VARIABLES CSS ==========*/
:root {
	/*========= Colors ==========*/
	--white-color: #ffffff;
	--gold-color: #bdae82;
	--black-color: #000000;

	/*========= Font and typography ==========*/
	--body-font: 'Inter', sans-serif;
	--title-font: 'Merriweather', serif;
	--h1-font-size: 60px;
	--h2-font-size: 40px;
	--h3-font-size: 28px;
	--medium-font-size: 24px;
	--normal-font-size: 20px;
	--small-font-size: 18px;
}

/*========= BASE ==========*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3 {
	font-weight: 700;
	font-family: var(--title-font);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	font-weight: 400;
	color: var(--white-color);
	background-color: var(--black-color);
	height: 100%;
	line-height: 1;
}

button {
	cursor: pointer;
}

/*========= REUSABLE CSS CLASSES ==========*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}

._container_small {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 80px;
}

.button {
	width: 220px;
	height: 55px;
	background-color: transparent;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--gold-color);
	line-height: 200%;
}

.button_colored {
	background-color: var(--gold-color);
	color: var(--black-color);
}

.button_bordered {
	border: 2px solid var(--gold-color);
}

.header-block {
	width: 50%;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 60px;
	overflow-x: hidden;
}

.header-block__title {
	font-size: var(--h2-font-size);
	line-height: 200%;
	color: var(--gold-color);
}

.header-block__title::before,
.header-block__title::after {
	content: '';
	background: var(--gold-color);
	display: inline-block;
	height: 2px;
	position: relative;
	top: -3px;
	vertical-align: middle;
	width: 50%;
}

.header-block__title::before {
	right: 20px;
	margin-left: -50%;
}

.header-block__title::after {
	left: 20px;
	margin-right: -50%;
}

/*========= HEADER ==========*/
.header {
	width: 100%;
}

.header__container {
	display: flex;
	align-items: center;
	min-height: 90px;
	background: url('assets/img/header-bg.jpg');
	background-repeat: no-repeat;
	background-position: center 0;
}

/*========= logo ==========*/
.logo {
	height: 50px;
	width: 50px;
}

.logo-icon {
	width: 50px;
	height: 50px;
	fill: var(--white-color);
	transition: 0.3s;
}

.logo-icon:hover {
	fill: var(--gold-color);
}

/*========= menu ==========*/
.header__menu {
	margin-left: auto;
}

.menu {
	width: 500px;
}

.menu__list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.menu__link {
	color: var(--white-color);
	line-height: 250%;
	transition: 0.3s;
}

.menu__link:hover {
	color: var(--gold-color);
}

/*========= select language ==========*/
.header__buttons {
	width: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.divider {
	font-weight: 700;
	line-height: 250%;
}

.select {
	background: none;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	line-height: 250%;
	font-weight: 700;
}

.select_colored {
	color: var(--gold-color);
}

.select_default {
	color: var(--white-color);
}

/*========= MAIN ==========*/
.main {
	flex: 1 1 auto;
}

/*========= hero ==========*/
.hero__container {
	background-image: url('assets/img/header-bg.jpg');
	background-position: center -90px;
	background-repeat: no-repeat;
}

.hero__content {
	padding: 160px 0px 330px 0px;
	max-width: 470px;
}

.hero__title {
	font-size: var(--h1-font-size);
	line-height: 200%;
	margin: 0px 0px 10px 0px;
}

.hero__text {
	width: 470px;
	line-height: 200%;
	margin: 0px 0px 25px 0px;
}

/*========= skills ==========*/
.skills__body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.skills__item {
	max-width: 320px;
	text-align: center;
	padding: 100px 20px 2px 20px;
	background-position: center top;
}

.skills__item:nth-child(1) {
	background-image: url('./assets/svg/camera.svg');
	background-size: 62px 50px;
	background-repeat: no-repeat;
}

.skills__item:nth-child(2) {
	background-image: url('./assets/svg/video.svg');
	background-size: 60px 50px;
	background-repeat: no-repeat;
}

.skills__item:nth-child(3) {
	background-image: url('./assets/svg/image.svg');
	background-size: 66px 50px;
	background-repeat: no-repeat;
}

.skills__item:nth-child(4) {
	background-image: url('./assets/svg/mic.svg');
	background-size: 32px 50px;
	background-repeat: no-repeat;
}

.skills__subtitle {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	line-height: 200%;
	margin-bottom: 20px;
}

.skills__description {
	font-size: var(--small-font-size);
	line-height: 200%;
	margin-bottom: 8px;
}

/*========= portfolio ==========*/
.portfolio__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	margin-bottom: 60px;
}

.portfolio__items {
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/*========= video ==========*/
.video-player {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-player__button {
	position: absolute;
	width: 130px;
	height: 130px;
	background-color: transparent;
}

.video-player-icon {
	fill: var(--white-color);
	width: 130px;
	height: 130px;
	transition: 0.3s;
}

.video-player-icon:hover {
	fill: var(--gold-color);
}

/*========= FOOTER ==========*/
.footer {
}
