/*========= GOOGLE FONTS ==========*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap');

/*========= VARIABLES CSS ==========*/
:root {
	/*========= Colors ==========*/
	--white-color: #ffffff;
	--gold-color: #bdae82;
	--black-color: #000000;

	/*========= Font and typography ==========*/
	--body-font: 'Inter', sans-serif;
	--title-font: 'Merriweather', serif;
	--h1-font-size: 60px;
	--h2-font-size: 40px;
	--h3-font-size: 28px;
	--medium-font-size: 24px;
	--normal-font-size: 20px;
	--small-font-size: 18px;
}

/*========= BASE ==========*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3 {
	font-weight: 700;
	font-family: var(--title-font);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	font-weight: 400;
	color: var(--white-color);
	background-color: var(--black-color);
	height: 100%;
	line-height: 1;
}

body._lock {
	overflow: hidden;
}

button {
	cursor: pointer;
}

/*========= GENERAL CSS CLASSES ==========*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}

._container_small {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 80px;
}

.menu-open {
	box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.link {
	color: var(--white-color);
	line-height: 250%;
	transition: 0.5s;
}

.link:hover {
	color: var(--gold-color);
}

.button {
	width: 220px;
	height: 55px;
	background-color: transparent;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--gold-color);
	line-height: 200%;
	transition: 0.5s;
}

.button:hover {
	color: var(--white-color);
}

.button_colored {
	background-color: var(--gold-color);
	color: var(--black-color);
}

.button_bordered {
	border: 2px solid var(--gold-color);
}

.header-block {
	width: 50%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 60px;
	overflow-x: hidden;
}

.header-block__title {
	font-size: var(--h2-font-size);
	line-height: 200%;
	color: var(--gold-color);
}

.header-block__title::before,
.header-block__title::after {
	content: '';
	background: var(--gold-color);
	display: inline-block;
	height: 2px;
	position: relative;
	top: -3px;
	vertical-align: middle;
	width: 50%;
}

.header-block__title::before {
	right: 20px;
	margin-left: -50%;
}

.header-block__title::after {
	left: 20px;
	margin-right: -50%;
}

.form__input {
	border: 2px solid var(--gold-color);
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	line-height: 200%;
	background: rgba(0, 0, 0, 0.5);
	color: var(--gold-color);
	padding: 3px 18px;
}

::placeholder {
	font-family: var(--body-font);
	color: var(--gold-color);
	font-size: var(--normal-font-size);
	line-height: 200%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: var(--gold-color);
	transition: background-color 0s ease-in-out 9000s;
}

.icon {
	fill: var(--white-color);
	transition: 0.5s;
}

.icon:hover {
	fill: var(--gold-color);
}

/*========= HEADER ==========*/
.header {
	width: 100%;
}

.header__container {
	display: flex;
	align-items: center;
	min-height: 90px;
	background: url('assets/img/header-bg.jpg');
	background-repeat: no-repeat;
	background-position: center 0;
}

/*========= logo ==========*/
.logo {
	height: 50px;
	width: 50px;
}

.logo-icon {
	width: 50px;
	height: 50px;
}

/*========= menu ==========*/
.header__menu {
	margin-left: auto;
}

.menu {
	width: 500px;
}

.menu__list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/*========= burger ==========*/
.menu__icon {
	display: none;
}

/*========= select language ==========*/
.header__buttons {
	width: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.divider {
	font-weight: 700;
	line-height: 250%;
}

.select {
	background: none;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	line-height: 250%;
	font-weight: 700;
	transition: 0.5s;
}

.select_colored {
	color: var(--gold-color);
}

.select_default {
	color: var(--white-color);
}

.select_default:hover {
	color: var(--gold-color);
}

/*========= MAIN ==========*/
.main {
	flex: 1 1 auto;
}

/*========= hero ==========*/
.hero__container {
	background-image: url('assets/img/header-bg.jpg');
	background-position: center -90px;
	background-repeat: no-repeat;
}

.hero__content {
	padding: 160px 0px 330px 0px;
	max-width: 470px;
}

.hero__title {
	font-size: var(--h1-font-size);
	line-height: 200%;
	margin-bottom: 10px;
}

.hero__text {
	line-height: 200%;
	margin-bottom: 25px;
}

/*========= skills ==========*/
.skills__container {
	padding-top: 100px;
}

.skills__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -20px -36px;
}

.skills__column {
	padding: 0 20px;
	margin-bottom: 36px;
	flex: 0 1 25%;
	background-position: center top;
}

.skills__column:nth-child(1) {
	background-image: url('./assets/svg/camera.svg');
	background-size: 62px 50px;
	background-repeat: no-repeat;
}

.skills__column:nth-child(2) {
	background-image: url('./assets/svg/video.svg');
	background-size: 60px 50px;
	background-repeat: no-repeat;
}

.skills__column:nth-child(3) {
	background-image: url('./assets/svg/image.svg');
	background-size: 66px 50px;
	background-repeat: no-repeat;
}

.skills__column:nth-child(4) {
	background-image: url('./assets/svg/mic.svg');
	background-size: 32px 50px;
	background-repeat: no-repeat;
}

.skills__item {
	text-align: center;
	padding: 100px 20px 2px 20px;
}

.skills__subtitle {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	line-height: 200%;
	margin-bottom: 20px;
}

.skills__description {
	font-size: var(--small-font-size);
	line-height: 200%;
	margin-bottom: 8px;
}

/*========= portfolio ==========*/
.portfolio__container {
	padding-top: 100px;
}

.portfolio__buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 5px;
	margin-bottom: 60px;
}

.portfolio__items {
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.portfolio__img {
	max-width: 100%;
}

/*========= video ==========*/
.video__container {
	padding-top: 100px;
}

.video-player {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-player__img {
	max-width: 100%;
}

.video-player__button {
	position: absolute;
	width: 130px;
	height: 130px;
	background-color: transparent;
}

.video-player-icon {
	width: 130px;
	height: 130px;
}

/*========= price ==========*/
.price__container {
	padding-top: 100px;
	padding-bottom: 100px;
}

.price__body {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -12.5px -50px;
}

.price__column {
	padding: 0 12.5px;
	flex: 0 1 33.333%;
	margin-bottom: 50px;
}

.price__item {
	max-width: 450px;
	border: 3px solid var(--gold-color);
	text-align: center;
	padding: 40px 0px;
}

.price__subtitle {
	font-size: var(--h3-font-size);
	line-height: 200%;
	margin-bottom: 20px;
}

.price__value {
	display: block;
	font-family: var(--title-font);
	font-weight: 700;
	font-size: var(--medium-font-size);
	line-height: 200%;
	color: var(--gold-color);
	margin-bottom: 20px;
}

.price__data {
	margin-bottom: 40px;
}

.price__description {
	font-size: var(--small-font-size);
	line-height: 200%;
	display: block;
}

/*========= contacts ==========*/
.contacts__container {
	background: url('assets/img/contacts-bg.jpg');
	background-size: auto 700px;
	background-position: center center;
}

.contacts__row {
	display: flex;
	justify-content: flex-end;
}

.contacts__content {
	padding: 60px 0 195px 0;
	width: 450px;
}

.contacts__title {
	margin-bottom: 40px;
}

.contacts__title::before,
.contacts__title::after {
	display: none;
}

.contacts__form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.contacts__email,
.contacts__phone {
	margin-bottom: 20px;
}

.contacts__text {
	height: 100px;
	margin-bottom: 30px;
	resize: none;
}

/*========= FOOTER ==========*/
.footer__row {
	padding: 50px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__text {
	min-width: 188px;
}

.footer__text > * {
	margin-right: 20px;
	line-height: 250%;
}

.social {
	width: 188px;
}

.social__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-icon {
	width: 32px;
	height: 32px;
}

/*========= MEDIA 1093px==========*/
@media (max-width: 1093px) {
	.skills__column {
		flex: 0 1 50%;
	}

	.skills__item {
		max-width: 320px;
		margin: 0 auto;
	}
}

/*========= MEDIA 964px==========*/
@media (max-width: 964px) {
	.portfolio__buttons {
		padding: 0 128px;
	}

	.price__column {
		flex: 0 1 50%;
	}
}

/*========= MEDIA 768px==========*/
@media (max-width: 768px) {
	/*========= BASE ==========*/
	:root {
		--h1-font-size: 32px;
		--h2-font-size: 32px;
	}

	/*========= GENERAL CSS CLASSES ==========*/
	._container {
		max-width: 768px;
		padding: 0 64px 0 60px;
	}

	._container_small {
		max-width: 768px;
		padding: 0 64px 0 60px;
	}

	.header-block {
		width: 56.5%;
		padding-left: 4px;
		margin-bottom: 45px;
	}

	.header-block__title {
		padding: 20px 0;
		line-height: 125%;
	}

	.header-block__title::before,
	.header-block__title::after {
		top: -2px;
	}

	/*========= HEADER ==========*/
	.header__container {
		background-position: -5px -30px;
		background-size: auto 620px;
	}

	.header__buttons {
		margin-left: auto;
		margin-right: 20px;
		width: 82px;
		justify-content: flex-start;
	}

	.select:first-child {
		margin-right: 9px;
	}

	.divider {
		margin-right: 19px;
	}

	.menu__icon {
		width: 50px;
		height: 28px;
		position: relative;
		z-index: 11;
		display: block;
		cursor: pointer;
	}

	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		width: 100%;
		height: 3px;
		transition: all 0.3s ease 0s;
		background-color: var(--white-color);
	}

	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}

	.menu__icon::before {
		top: 0;
	}

	.menu__icon::after {
		bottom: 0;
	}

	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menu__icon._active {
		height: 50px;
	}

	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}

	.menu__icon._active::before {
		height: 2px;
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}

	.menu__icon._active::after {
		height: 2px;
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.menu {
		width: 80.7%;
		height: 100%;
		position: fixed;
		top: 0px;
		right: 0px;
		background-color: var(--black-color);
		z-index: 10;
		padding: 134px 127px;
		transform: translateX(100%);
		transition: all 0.3s ease 0s;
		overflow: auto;
	}

	.menu._active {
		transform: translateX(0%);
	}

	.menu__list {
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		gap: 16px;
	}

	.menu__link {
		font-size: 35px;
		line-height: 73px;
	}

	/*========= MAIN ==========*/
	/*========= hero ==========*/
	.hero__container {
		height: 500px;
		background-position: -5px -120px;
		background-size: auto 620px;
	}

	.hero__content {
		padding: 78px 0px;
		max-width: 390px;
	}

	.hero__title {
		font-weight: 400;
		margin-bottom: 20px;
	}

	.hero__text {
		line-height: 120%;
		margin-bottom: 60px;
	}

	/*========= skills ==========*/
	.skills__container {
		padding-top: 80px;
		padding-bottom: 40px;
	}

	.skills__body {
		margin: 0px -22px -36px;
	}

	.skills__column {
		padding: 0 22px;
		margin-bottom: 36px;
	}

	.skills__item {
		max-width: 300px;
		padding: 80px 10px 0px 10px;
		margin-bottom: 36px;
	}

	.skills__description {
		line-height: 22px;
		margin-bottom: 40px;
	}

	/*========= portfolio ==========*/
	.portfolio__container {
		padding-top: 80px;
	}

	.portfolio__header {
		margin-bottom: 50px;
	}

	.portfolio__buttons {
		padding-left: 4px;
		padding-right: 0px;
	}

	.portfolio__items {
		padding-left: 4px;
	}

	/*========= video ==========*/
	.video__container {
		padding-top: 80px;
	}

	.video__header {
		margin-bottom: 50px;
	}

	.video__body {
		margin: 0px -64px 0px -60px;
	}

	.video-player__button {
		width: 65px;
		height: 65px;
		margin-left: -4px;
	}

	.video-player-icon {
		width: 65px;
		height: 65px;
	}

	/*========= price ==========*/
	.price__container {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.price__header {
		margin-bottom: 50px;
	}

	.price__body {
		padding-left: 4px;
	}

	.price__column {
		flex: 1 1 100%;
	}

	.price__item {
		max-width: 420px;
		margin: 0 auto;
	}

	/*========= contacts ==========*/
	.contacts__container {
		height: 600px;
		background-size: auto 600px;
	}

	.contacts__row {
		justify-content: center;
	}

	.contacts__content {
		padding-top: 60px;
		margin-left: 4px;
		max-width: 450px;
	}

	.contacts__title {
		padding: 0;
		line-height: 200%;
		text-align: center;
	}

	.contacts__form {
		align-items: center;
	}

	.form__input {
		width: 100%;
	}
}

@media (max-width: 640px) {
	.skills__column {
		flex: 0 1 100%;
	}

	.menu {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 425px) {
	.header-block__title::before,
	.header-block__title::after {
		display: none;
	}

	.skills__column {
		padding: 0;
	}

	.skills__item {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 374px) {
	.header__buttons {
		margin-left: auto;
		margin-right: 20px;
		width: 60px;
		justify-content: space-between;
	}

	.select:first-child {
		margin-right: 0px;
	}

	.divider {
		margin-right: 0px;
	}
}
